* {
	font-family: 'Yeon Sung', cursive;
	box-sizing: border-box;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  }
.navtop {
	background-color: #2f3947;
	height: 60px;
	width: 100%;
	border: 0;
}
.navtop div {
	display: flex;
	margin: 0 auto;
	width: 1000px;
	height: 100%;
}
.navtop div h1, .navtop div a {
	display: inline-flex;
	align-items: center;
}
.navtop div h1 {
	flex: 1;
	font-size: 24px;
	padding: 0;
	margin: 0;
	color: #eaebed;
	font-weight: normal;
}
.navtop div a {
	padding: 0 20px;
	text-decoration: none;
	color: #c1c4c8;
	font-weight: bold;
}
.navtop div a i {
	padding: 2px 8px 0 0;
}
.navtop div a:hover {
	color: #eaebed;
}
body.loggedin {
	background-color: #f3f4f7;
}
.content {
	width: 1000px;
	margin: 0 auto;
}
.content h2 {
	margin: 0;
	padding: 25px 0;
	font-size: 22px;
	border-bottom: 1px solid #e0e0e3;
	color: #4a536e;
}
.content > p, .content > div {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	margin: 25px 0;
	padding: 25px;
	background-color: #fff;
}
.content > p table td, .content > div table td {
	padding: 5px;
}
.content > p table td:first-child, .content > div table td:first-child {
	font-weight: bold;
	color: #4a536e;
	padding-right: 15px;
}
.content > div p {
	padding: 5px;
	margin: 0 0 10px 0;
}
/* Responsive CSS below */
@media screen and (max-width: 1050px) {
	.rhide {
	  display: none;
	}
	.content-wrapper {
	  width: 100%;
	  padding: 0 10px;
	}
	header {
	  justify-content: space-between;
	}
	header h1 {
	  font-size: 16px;
	  flex-basis: auto;
	}
	header nav {
	  display: none;
	  position: absolute;
	  left: 0;
	  top: calc(100% + 1px);
	  width: 100%;
	  background-color: #FFFFFF;
	}
	header nav a {
	  display: block;
	  padding: 10px 10px;
	  margin: 0;
	  border-bottom: 1px solid #EEEEEE;
	}
	header .link-icons {
	  display: inline-flex;
	  width: 100px;
	}
	header .link-icons .responsive-toggle {
	  display: block;
	}
	main .recentlyadded .products, main .products .products-wrapper {
	  justify-content: center;
	}
	main .recentlyadded .products .product, main .products .products-wrapper .product {
	  width: auto;
	}
	main .featured {
	  height: 300px;
	}
	main .featured h2 {
	  font-size: 48px;
	  width: 100%;
	  padding: 0 10px;
	}
	main .featured p {
	  font-size: 22px;
	  width: 100%;
	  padding: 0 10px;
	}
}